<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <connectionStrings>
        <add name="EduVaultDB"
             connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=EduVaultDB;Integrated Security=True"
             providerName="System.Data.SqlClient" />
    </connectionStrings>
    <!-- Report Viewer PDF render triggers a benign PInvokeStackImbalance MDA in the debugger. -->
    <runtime>
        <mdaConfig>
            <assistants>
                <pInvokeStackImbalance enable="false" />
            </assistants>
        </mdaConfig>
    </runtime>
</configuration>